╭───────────┬──────────────────────────────────────────────╮
│ Movements │                   Action                     │
├───────────┼──────────────────────────────────────────────┤
│   <, >    │ Previous or next word                        │
├───────────┼──────────────────────────────────────────────┤
│  <<, >>   │ Previous or next word (non-symbol word only) │
├───────────┼──────────────────────────────────────────────┤
│   ^, v    │ Nearest word in the next or previous line    │
├───────────┼──────────────────────────────────────────────┤
│  |<, >|   │ First or last word                           │
╰───────────┴──────────────────────────────────────────────╯